body{
    font-family: 'Domine', serif;
}

.orange-color{
          color: orange;
    }
   
    .stay-focused{
        display: flex;
    }
    .border{
        border-left: 5px solid red;
    }
    .change-width{
        width: 50%;
        text-align: justify;
            text-justify: inter-word;
            margin-left: 10px;
    }
    .Needs-padding{
        border:100px 10px 10px 10px;
    }

    .change-width img{
         width: 70%;      
    }
    .link-button{
        text-decoration: none;
        background-image: linear-gradient(orange,red);
        padding: 10px 40px;
        border-radius: 5px;
    }
    
    .font_size{
     font-size: 50px;
     color: blue;
        text-align: center;
    }
   .bg_color{
       text-decoration: none;
       background-image: black;
       padding-inline-end: 0%;

   }
   .mission-vision-goal{
       display: flex;
   }
   .bold-caption{
       font-size: 30px;
   }
   .Corona_App{
       text-align: center;
   }
       
   .develop{
    display: flex;
       background-image: url(shapes/shape-1.png);
       background-repeat: no-repeat;
   }
   .Footer{
       background-color: black;
       color: white;
       text-align: center;
       padding: 5% 20%;
       
   }

   .corona-bg{
       background-image: url(shapes/images.png);
   }