body{
    font-family: 'Domine', serif;
}

.orange-color{
          color: orange;
    }
   
    section{
        display: flex;
    }
    .change-width{
        width: 50%;
        padding-right: 5%;
        text-align: justify;
            text-justify: inter-word;
    }

    .change-width img{
        width: 80%;
        
    }
    .link-button{
        text-decoration: none;
        background-image: linear-gradient(orange,red);
        padding: 10px 40px;
        border-radius: 5px;
    }
    h3{
        
        color: blue;
        text-align: center;
    }
    .font_size{
     font-size: 50px;
    }
   .bg_color{
       text-decoration: none;
       background-image: black;
       padding-inline-end: 0%;

   }
  